<ul class="nav navbar-nav navbar-left">
  <!-- <li class="dropdown"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
     <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="#">Save Data</a> </li>
       <li><a href="#">Fetch Data</a></li>
     </ul>
   </li>-->
  <li>Search: <input type="text" name="filterData" [(ngModel)]="filterData"></li><button  class="glyphicon glyphicon-search" (click)="Onserch()"></button>
</ul>
<br>
