<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-search-books></app-search-books>
<div class="container">
  <div clas="row">
    <div class="col-md-12"></div>
  </div>
</div>
<!--<app-view-books *ngIf="loadedFeature ==='bookview'"></app-view-books>
<app-upload-books *ngIf="loadedFeature !=='bookview'"></app-upload-books>
<app-delete-books *ngIf="loadedFeature==='bookview'"></app-delete-books>
<chart [options]="options"></chart>
<app-ngd3></app-ngd3>-->
<router-outlet></router-outlet>

